<h5 style="color:black;">-----------| Compresión: {{rate}}% |-----------</h5>
{{#each mensajes}}
<div>
    <b style="color:blue;">{{this.author.mail}}</b> 
    [<span style="color:brown;">{{this.fyh}}</span>] : 
    <i style="color:green;">{{this.mensaje}}</i>
    <img width="40" src={{this.author.avatar}} alt="not found"></img>
</div>
{{/each}}





